.lightOff{
    height: 20vh; 
    width: 20vh; 
    margin: auto; 
    background: rgb(43, 43, 43);
}

.lightOn{
    height: 20vh; 
    width: 20vh; 
    margin: auto; 
    background: rgb(235, 233, 117);
}

.thermoOn {
    color: green;
}

.thermoOff {
    color: brown;
}

.fanspin {
    -webkit-animation:spin 0.5s linear infinite;
    -moz-animation:spin 0.5s linear infinite;
    animation:spin 0.5s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }